*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
.index-nav{
	width: 1349px;
	height: 33px;
	background: #f2f2f2;
}
.index-nav .nav-center{
	width: 1000px;
	margin: 0 auto;
}
.index-nav .p1{
	font-size: 12px;
	color: #999999;
	margin-left: 84px;
	margin-top: -34px;
	line-height: 33px;
	position: absolute;
}
.index-nav a{
	font-size: 12px;
	color: #999999;
	margin-left: 12px;
	line-height: 33px;
}
.index-nav .nav-center .a1{
	margin-right: 110px;
	margin-left: 0px;
}
.index-nav a:hover{
	color: red;
}
.index-uls{
	list-style: none;
	float: right;
	overflow: hidden;
}
.index-uls li{
	float: left;
	margin: auto 0;
}
/* 下拉框 */
#navdiv>div{
	display: none;
}
#navdiv li{
	list-style: none;
}
#navdiv li a{
	color: black;
}
#navdiv .div_one{
	position: absolute;
	width: 97px;
	height: 64px;
	margin-left: 637px;
	background: white;
	border: 1px solid #f2f2f2;
	margin-top: -3px;
}
#navdiv .div_one li{
	margin-top: -14px;
}
#navdiv .div_one .li_one{
	margin-top: 10px;
}
#navdiv .div_two{
	position: absolute;
	width: 85px;
	height: 64px;
	margin-left: 796px;
	background: white;
	border: 1px solid #f2f2f2;
	margin-top: -3px;
}
#navdiv .div_two li{
	margin-top: -14px;
}
#navdiv .div_two .li_two{
	margin-top: 10px;
}
#navdiv .div_three{
	position: absolute;
	width: 142px;
	height: 174px;
	margin-left: 856px;
	background: white;
	border: 1px solid #f2f2f2;
	margin-top: -3px;
}
#navdiv .div_three li{
	margin-top: -14px;
}
#navdiv .div_three .li_three{
	margin-top: 5px;
}
#navdiv .div_three .help{
	margin-top: 0px;
}
#navdiv .div_three .li_three>a, .help>a{
	font-weight: bold;
}
#navdiv .div_three .li_line{
	text-align: center;
	font-size: 12px;
}


#navdiv .sjb-erweima{
	background: white;
} 
#shouye{
	font-size: 12px;
	color: #ff0036;
}
#sjx{
	font-size: 12px;
	color: #999999;
}
#gwc{
	font-size: 14px;
	color: red;
	margin-right: 2px;
}
#sj{
	font-size: 14px;
	color: red;
	margin-right: -22px;
	margin-top: 20px;
}
.wzdh p{
	font-size: 12px;
	color: #999999;
	line-height: 33px;
}
#sq{
	font-size: 12px;
	color: red;
	margin-right: 3px;
}
.index-uls li a.wdtb:hover, .scj:hover, .sjzc:hover{
	text-decoration: underline;
}
/* 头部 */
.index-header{
	width: 1349px;
	height: 100px;
}
.index-header .header-center{
	width: 1000px;
	margin: 0 auto;

}
.index-header img{
	width: 190px;
	height: 28px;
	float: left;
	top: 20px;
	margin-top: 30px;
}
.header-div{
	display: inline-block;
	margin-left: 185px;	
	margin-top: 30px;
	width: 625px;
	float: left;
}
.header-div .input-ss{
	width: 490px;
	height: 38px;
	border: 2px solid #ff0036;
	display: inline-block;
	margin-top: 0px;
	margin-left: 14px;
	float: left;
	padding: 6px;
	box-sizing: border-box;
}
.header-div .btn-ss{
	width: 120px;
	height: 38px;
	border: 2px solid #ff0036;
	background: #ff0036;
	font-size: 18px;
	color: white;
	float: left;
}
/* section */
.tmall-section .one{
	width: 100%;
	height: 580px;
	background: url('../img/Tmall_app_bg1.jpg') top center no-repeat;
}
.tmall-section .two{
	width: 100%;
	height: 580px;
	background: url('../img/Tmall_app_bg2.jpg') top center no-repeat;
}
.tmall-section .three{
	width: 100%;
	height: 580px;
	background: url('../img/Tmall_app_bg3.jpg') top center no-repeat;
}
.tmall-section .four{
	width: 100%;
	height: 580px;
	background: url('../img/Tmall_app_bg4.jpg') top center no-repeat;
}
.tmall-section .five{
	width: 100%;
	height: 580px;
	background: url('../img/Tmall_app_bg5.jpg') top center no-repeat;
}
